--
-- PostgreSQL database dump
--

\restrict CaHnyZ0fTgWIeac4kUEWGn7SwPPAIiyP7Pi12Kv9HxR6zqaTBmLFG0caBauSGIf

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin_ophtha
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin_ophtha;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin_ophtha
--

COMMENT ON SCHEMA public IS '';


--
-- Name: enum_configs_type; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_configs_type AS ENUM (
    'system',
    'custom'
);


ALTER TYPE public.enum_configs_type OWNER TO admin_ophtha;

--
-- Name: enum_justifications_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_justifications_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_justifications_status OWNER TO admin_ophtha;

--
-- Name: enum_notifications_variant; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_notifications_variant AS ENUM (
    'success',
    'info',
    'warning',
    'error'
);


ALTER TYPE public.enum_notifications_variant OWNER TO admin_ophtha;

--
-- Name: enum_portfolios_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_portfolios_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_portfolios_status OWNER TO admin_ophtha;

--
-- Name: enum_region_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_region_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_region_status OWNER TO admin_ophtha;

--
-- Name: enum_third_classification_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_third_classification_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_third_classification_status OWNER TO admin_ophtha;

--
-- Name: enum_third_specialty_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_third_specialty_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_third_specialty_status OWNER TO admin_ophtha;

--
-- Name: enum_third_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_third_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_third_status OWNER TO admin_ophtha;

--
-- Name: enum_third_subspecialty_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_third_subspecialty_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_third_subspecialty_status OWNER TO admin_ophtha;

--
-- Name: enum_third_type_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_third_type_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_third_type_status OWNER TO admin_ophtha;

--
-- Name: enum_thirds_portfolios_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_thirds_portfolios_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_thirds_portfolios_status OWNER TO admin_ophtha;

--
-- Name: enum_type_events_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_type_events_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_type_events_status OWNER TO admin_ophtha;

--
-- Name: enum_user_classification_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_user_classification_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_user_classification_status OWNER TO admin_ophtha;

--
-- Name: enum_users_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_users_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_users_status OWNER TO admin_ophtha;

--
-- Name: enum_visits_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_visits_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_visits_status OWNER TO admin_ophtha;

--
-- Name: enum_workplans_status; Type: TYPE; Schema: public; Owner: admin_ophtha
--

CREATE TYPE public.enum_workplans_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_workplans_status OWNER TO admin_ophtha;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: calendar_events; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.calendar_events (
    id character varying(255) NOT NULL,
    title character varying(50) NOT NULL,
    "allDay" boolean NOT NULL,
    start character varying(255) NOT NULL,
    "end" character varying(255) NOT NULL,
    "extendedProps" json,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.calendar_events OWNER TO admin_ophtha;

--
-- Name: calendar_labels; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.calendar_labels (
    id integer NOT NULL,
    title character varying(50) NOT NULL,
    color character varying(10) NOT NULL,
    type character varying(6) NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.calendar_labels OWNER TO admin_ophtha;

--
-- Name: calendar_labels_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.calendar_labels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.calendar_labels_id_seq OWNER TO admin_ophtha;

--
-- Name: calendar_labels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.calendar_labels_id_seq OWNED BY public.calendar_labels.id;


--
-- Name: configs; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.configs (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    label character varying(50) NOT NULL,
    value text NOT NULL,
    type public.enum_configs_type DEFAULT 'system'::public.enum_configs_type NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.configs OWNER TO admin_ophtha;

--
-- Name: configs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.configs_id_seq OWNER TO admin_ophtha;

--
-- Name: configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.configs_id_seq OWNED BY public.configs.id;


--
-- Name: justifications; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.justifications (
    id integer NOT NULL,
    "thirdId" integer NOT NULL,
    "userId" integer NOT NULL,
    date timestamp with time zone NOT NULL,
    "dateToJustify" timestamp with time zone NOT NULL,
    description text NOT NULL,
    status public.enum_justifications_status DEFAULT 'active'::public.enum_justifications_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.justifications OWNER TO admin_ophtha;

--
-- Name: justifications_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.justifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.justifications_id_seq OWNER TO admin_ophtha;

--
-- Name: justifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.justifications_id_seq OWNED BY public.justifications.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    icon character varying(50),
    title character varying(50) NOT NULL,
    description character varying(120) NOT NULL,
    "time" timestamp with time zone NOT NULL,
    read boolean DEFAULT false NOT NULL,
    variant public.enum_notifications_variant DEFAULT 'info'::public.enum_notifications_variant NOT NULL,
    "useRouter" boolean DEFAULT false NOT NULL,
    link text,
    image text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.notifications OWNER TO admin_ophtha;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO admin_ophtha;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: portfolios; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.portfolios (
    id integer NOT NULL,
    name character varying(80) NOT NULL,
    "userId" integer NOT NULL,
    status public.enum_portfolios_status DEFAULT 'active'::public.enum_portfolios_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.portfolios OWNER TO admin_ophtha;

--
-- Name: portfolios_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.portfolios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.portfolios_id_seq OWNER TO admin_ophtha;

--
-- Name: portfolios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.portfolios_id_seq OWNED BY public.portfolios.id;


--
-- Name: region; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.region (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    status public.enum_region_status DEFAULT 'active'::public.enum_region_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.region OWNER TO admin_ophtha;

--
-- Name: region_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.region_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.region_id_seq OWNER TO admin_ophtha;

--
-- Name: region_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.region_id_seq OWNED BY public.region.id;


--
-- Name: session_logs; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.session_logs (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "ipAddress" character varying(45),
    "userAgent" text,
    "loginTime" timestamp with time zone DEFAULT now() NOT NULL,
    "logoutTime" timestamp with time zone,
    duration integer,
    details jsonb,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.session_logs OWNER TO admin_ophtha;

--
-- Name: session_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.session_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.session_logs_id_seq OWNER TO admin_ophtha;

--
-- Name: session_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.session_logs_id_seq OWNED BY public.session_logs.id;


--
-- Name: third; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.third (
    id integer NOT NULL,
    "typeIdentification" character varying(50) NOT NULL,
    identification character varying(50) NOT NULL,
    name character varying(50) NOT NULL,
    "additionalName" character varying(50),
    address character varying(50) NOT NULL,
    phone character varying(50),
    mobile character varying(50) NOT NULL,
    email character varying(50) NOT NULL,
    city character varying(50) NOT NULL,
    birthday timestamp with time zone NOT NULL,
    gender character varying(10),
    impact integer NOT NULL,
    supplied character varying(50),
    "typeId" integer,
    "classificationId" integer,
    "specialtyId" integer,
    "subSpecialtyId" integer,
    "regionId" integer NOT NULL,
    status public.enum_third_status DEFAULT 'active'::public.enum_third_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone,
    "habeasDataConsent" boolean DEFAULT false,
    "habeasDataFileUrl" character varying(255),
    "habeasDataSignature" text,
    latitude double precision,
    longitude double precision,
    department character varying(100)
);


ALTER TABLE public.third OWNER TO admin_ophtha;

--
-- Name: third_classification; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.third_classification (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    status public.enum_third_classification_status DEFAULT 'active'::public.enum_third_classification_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.third_classification OWNER TO admin_ophtha;

--
-- Name: third_classification_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.third_classification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.third_classification_id_seq OWNER TO admin_ophtha;

--
-- Name: third_classification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.third_classification_id_seq OWNED BY public.third_classification.id;


--
-- Name: third_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.third_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.third_id_seq OWNER TO admin_ophtha;

--
-- Name: third_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.third_id_seq OWNED BY public.third.id;


--
-- Name: third_specialty; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.third_specialty (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    status public.enum_third_specialty_status DEFAULT 'active'::public.enum_third_specialty_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.third_specialty OWNER TO admin_ophtha;

--
-- Name: third_specialty_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.third_specialty_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.third_specialty_id_seq OWNER TO admin_ophtha;

--
-- Name: third_specialty_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.third_specialty_id_seq OWNED BY public.third_specialty.id;


--
-- Name: third_subspecialty; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.third_subspecialty (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    "specialtyId" integer,
    status public.enum_third_subspecialty_status DEFAULT 'active'::public.enum_third_subspecialty_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.third_subspecialty OWNER TO admin_ophtha;

--
-- Name: third_subspecialty_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.third_subspecialty_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.third_subspecialty_id_seq OWNER TO admin_ophtha;

--
-- Name: third_subspecialty_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.third_subspecialty_id_seq OWNED BY public.third_subspecialty.id;


--
-- Name: third_type; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.third_type (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    status public.enum_third_type_status DEFAULT 'active'::public.enum_third_type_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.third_type OWNER TO admin_ophtha;

--
-- Name: third_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.third_type_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.third_type_id_seq OWNER TO admin_ophtha;

--
-- Name: third_type_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.third_type_id_seq OWNED BY public.third_type.id;


--
-- Name: thirds_portfolios; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.thirds_portfolios (
    id integer NOT NULL,
    "portfolioId" integer NOT NULL,
    "thirdId" integer NOT NULL,
    approved boolean DEFAULT true NOT NULL,
    status public.enum_thirds_portfolios_status DEFAULT 'active'::public.enum_thirds_portfolios_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.thirds_portfolios OWNER TO admin_ophtha;

--
-- Name: thirds_portfolios_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.thirds_portfolios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.thirds_portfolios_id_seq OWNER TO admin_ophtha;

--
-- Name: thirds_portfolios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.thirds_portfolios_id_seq OWNED BY public.thirds_portfolios.id;


--
-- Name: type_events; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.type_events (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    status public.enum_type_events_status DEFAULT 'active'::public.enum_type_events_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.type_events OWNER TO admin_ophtha;

--
-- Name: type_events_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.type_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.type_events_id_seq OWNER TO admin_ophtha;

--
-- Name: type_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.type_events_id_seq OWNED BY public.type_events.id;


--
-- Name: user_classification; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.user_classification (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    status public.enum_user_classification_status DEFAULT 'active'::public.enum_user_classification_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone,
    permissions jsonb
);


ALTER TABLE public.user_classification OWNER TO admin_ophtha;

--
-- Name: user_classification_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.user_classification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.user_classification_id_seq OWNER TO admin_ophtha;

--
-- Name: user_classification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.user_classification_id_seq OWNED BY public.user_classification.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.users (
    id integer NOT NULL,
    "firstName" character varying(25) NOT NULL,
    "lastName" character varying(25) NOT NULL,
    email character varying(120) NOT NULL,
    phone character varying(15),
    mobile character varying(15),
    password character varying(180) NOT NULL,
    category character varying(50),
    "classificationId" integer NOT NULL,
    "regionId" integer NOT NULL,
    shortcuts json,
    status public.enum_users_status DEFAULT 'active'::public.enum_users_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone,
    "coordinatorId" integer,
    permissions jsonb,
    "twoFactorEnabled" boolean DEFAULT false,
    "twoFactorSecret" character varying(255),
    "twoFactorMethod" character varying(50) DEFAULT 'totp'::character varying,
    "email2FactorCode" character varying(10),
    "email2FactorExpires" timestamp with time zone
);


ALTER TABLE public.users OWNER TO admin_ophtha;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin_ophtha;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: visits; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.visits (
    id integer NOT NULL,
    "typeId" integer NOT NULL,
    "thirdId" integer NOT NULL,
    "userId" integer NOT NULL,
    date timestamp with time zone NOT NULL,
    objective text NOT NULL,
    comment text,
    status public.enum_visits_status DEFAULT 'active'::public.enum_visits_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone,
    latitude double precision,
    longitude double precision,
    "isVerified" boolean DEFAULT false
);


ALTER TABLE public.visits OWNER TO admin_ophtha;

--
-- Name: visits_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.visits_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.visits_id_seq OWNER TO admin_ophtha;

--
-- Name: visits_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.visits_id_seq OWNED BY public.visits.id;


--
-- Name: workplans; Type: TABLE; Schema: public; Owner: admin_ophtha
--

CREATE TABLE public.workplans (
    id integer NOT NULL,
    "userId" integer,
    "typeEventId" integer,
    "startDate" timestamp with time zone NOT NULL,
    "endDate" timestamp with time zone NOT NULL,
    description text NOT NULL,
    status public.enum_workplans_status DEFAULT 'active'::public.enum_workplans_status NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "deletedAt" timestamp with time zone
);


ALTER TABLE public.workplans OWNER TO admin_ophtha;

--
-- Name: workplans_id_seq; Type: SEQUENCE; Schema: public; Owner: admin_ophtha
--

CREATE SEQUENCE public.workplans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workplans_id_seq OWNER TO admin_ophtha;

--
-- Name: workplans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin_ophtha
--

ALTER SEQUENCE public.workplans_id_seq OWNED BY public.workplans.id;


--
-- Name: calendar_labels id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.calendar_labels ALTER COLUMN id SET DEFAULT nextval('public.calendar_labels_id_seq'::regclass);


--
-- Name: configs id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.configs ALTER COLUMN id SET DEFAULT nextval('public.configs_id_seq'::regclass);


--
-- Name: justifications id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.justifications ALTER COLUMN id SET DEFAULT nextval('public.justifications_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: portfolios id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.portfolios ALTER COLUMN id SET DEFAULT nextval('public.portfolios_id_seq'::regclass);


--
-- Name: region id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.region ALTER COLUMN id SET DEFAULT nextval('public.region_id_seq'::regclass);


--
-- Name: session_logs id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.session_logs ALTER COLUMN id SET DEFAULT nextval('public.session_logs_id_seq'::regclass);


--
-- Name: third id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third ALTER COLUMN id SET DEFAULT nextval('public.third_id_seq'::regclass);


--
-- Name: third_classification id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_classification ALTER COLUMN id SET DEFAULT nextval('public.third_classification_id_seq'::regclass);


--
-- Name: third_specialty id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_specialty ALTER COLUMN id SET DEFAULT nextval('public.third_specialty_id_seq'::regclass);


--
-- Name: third_subspecialty id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_subspecialty ALTER COLUMN id SET DEFAULT nextval('public.third_subspecialty_id_seq'::regclass);


--
-- Name: third_type id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_type ALTER COLUMN id SET DEFAULT nextval('public.third_type_id_seq'::regclass);


--
-- Name: thirds_portfolios id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.thirds_portfolios ALTER COLUMN id SET DEFAULT nextval('public.thirds_portfolios_id_seq'::regclass);


--
-- Name: type_events id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.type_events ALTER COLUMN id SET DEFAULT nextval('public.type_events_id_seq'::regclass);


--
-- Name: user_classification id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.user_classification ALTER COLUMN id SET DEFAULT nextval('public.user_classification_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: visits id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.visits ALTER COLUMN id SET DEFAULT nextval('public.visits_id_seq'::regclass);


--
-- Name: workplans id; Type: DEFAULT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.workplans ALTER COLUMN id SET DEFAULT nextval('public.workplans_id_seq'::regclass);


--
-- Name: calendar_events calendar_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.calendar_events
    ADD CONSTRAINT calendar_events_pkey PRIMARY KEY (id);


--
-- Name: calendar_labels calendar_labels_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.calendar_labels
    ADD CONSTRAINT calendar_labels_pkey PRIMARY KEY (id);


--
-- Name: configs configs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.configs
    ADD CONSTRAINT configs_pkey PRIMARY KEY (id);


--
-- Name: justifications justifications_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.justifications
    ADD CONSTRAINT justifications_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: portfolios portfolios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_pkey PRIMARY KEY (id);


--
-- Name: region region_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.region
    ADD CONSTRAINT region_pkey PRIMARY KEY (id);


--
-- Name: session_logs session_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.session_logs
    ADD CONSTRAINT session_logs_pkey PRIMARY KEY (id);


--
-- Name: third_classification third_classification_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_classification
    ADD CONSTRAINT third_classification_pkey PRIMARY KEY (id);


--
-- Name: third third_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third
    ADD CONSTRAINT third_pkey PRIMARY KEY (id);


--
-- Name: third_specialty third_specialty_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_specialty
    ADD CONSTRAINT third_specialty_pkey PRIMARY KEY (id);


--
-- Name: third_subspecialty third_subspecialty_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_subspecialty
    ADD CONSTRAINT third_subspecialty_pkey PRIMARY KEY (id);


--
-- Name: third_type third_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_type
    ADD CONSTRAINT third_type_pkey PRIMARY KEY (id);


--
-- Name: thirds_portfolios thirds_portfolios_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.thirds_portfolios
    ADD CONSTRAINT thirds_portfolios_pkey PRIMARY KEY (id);


--
-- Name: type_events type_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.type_events
    ADD CONSTRAINT type_events_pkey PRIMARY KEY (id);


--
-- Name: user_classification user_classification_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.user_classification
    ADD CONSTRAINT user_classification_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: visits visits_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT visits_pkey PRIMARY KEY (id);


--
-- Name: workplans workplans_pkey; Type: CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.workplans
    ADD CONSTRAINT workplans_pkey PRIMARY KEY (id);


--
-- Name: justifications justifications_thirdId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.justifications
    ADD CONSTRAINT "justifications_thirdId_fkey" FOREIGN KEY ("thirdId") REFERENCES public.third(id) ON UPDATE CASCADE;


--
-- Name: justifications justifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.justifications
    ADD CONSTRAINT "justifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE;


--
-- Name: portfolios portfolios_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT "portfolios_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: session_logs session_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.session_logs
    ADD CONSTRAINT "session_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: third third_classificationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third
    ADD CONSTRAINT "third_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES public.third_classification(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: third third_regionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third
    ADD CONSTRAINT "third_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES public.region(id) ON UPDATE CASCADE;


--
-- Name: third third_specialtyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third
    ADD CONSTRAINT "third_specialtyId_fkey" FOREIGN KEY ("specialtyId") REFERENCES public.third_specialty(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: third third_subSpecialtyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third
    ADD CONSTRAINT "third_subSpecialtyId_fkey" FOREIGN KEY ("subSpecialtyId") REFERENCES public.third_subspecialty(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: third_subspecialty third_subspecialty_specialtyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third_subspecialty
    ADD CONSTRAINT "third_subspecialty_specialtyId_fkey" FOREIGN KEY ("specialtyId") REFERENCES public.third_specialty(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: third third_typeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.third
    ADD CONSTRAINT "third_typeId_fkey" FOREIGN KEY ("typeId") REFERENCES public.third_type(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: thirds_portfolios thirds_portfolios_portfolioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.thirds_portfolios
    ADD CONSTRAINT "thirds_portfolios_portfolioId_fkey" FOREIGN KEY ("portfolioId") REFERENCES public.portfolios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: thirds_portfolios thirds_portfolios_thirdId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.thirds_portfolios
    ADD CONSTRAINT "thirds_portfolios_thirdId_fkey" FOREIGN KEY ("thirdId") REFERENCES public.third(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: users users_classificationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES public.user_classification(id) ON UPDATE CASCADE;


--
-- Name: users users_coordinatorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_coordinatorId_fkey" FOREIGN KEY ("coordinatorId") REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users users_regionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "users_regionId_fkey" FOREIGN KEY ("regionId") REFERENCES public.region(id) ON UPDATE CASCADE;


--
-- Name: visits visits_thirdId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT "visits_thirdId_fkey" FOREIGN KEY ("thirdId") REFERENCES public.third(id) ON UPDATE CASCADE;


--
-- Name: visits visits_typeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT "visits_typeId_fkey" FOREIGN KEY ("typeId") REFERENCES public.third_type(id) ON UPDATE CASCADE;


--
-- Name: visits visits_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.visits
    ADD CONSTRAINT "visits_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE;


--
-- Name: workplans workplans_typeEventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.workplans
    ADD CONSTRAINT "workplans_typeEventId_fkey" FOREIGN KEY ("typeEventId") REFERENCES public.type_events(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: workplans workplans_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin_ophtha
--

ALTER TABLE ONLY public.workplans
    ADD CONSTRAINT "workplans_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin_ophtha
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict CaHnyZ0fTgWIeac4kUEWGn7SwPPAIiyP7Pi12Kv9HxR6zqaTBmLFG0caBauSGIf

